* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  grid-row: 1/3;
  grid-column: 1/5;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: #f7dad9;
}
header h1 {
  text-align: center;
  color: #5D534A;
  font-family: "Courgette", cursive;
  font-size: 3rem;
  padding: 0.4rem;
  font-weight: bolder;
}
header .colorNavbar {
  background-color: #748DA6 !important;
  font-family: "Raleway", sans-serif;
}
header .nav-link {
  color: #f7dad9 !important;
}
header .nav-link:hover {
  color: #5D534A !important;
}

main {
  width: 100%;
  background-image: linear-gradient(to bottom, #f7dad9, #FFF5DA);
}
main h2 {
  text-align: center;
  color: #5D534A;
  font-family: "Courgette", cursive;
  font-size: 2rem;
  padding: 1rem;
  font-weight: bolder;
}
main h2 .titulo {
  color: #5D534A;
}
main .titulo-index {
  text-align: center;
  color: #5D534A;
  font-family: "Courgette", cursive;
  font-size: 2rem;
  padding: 1rem;
  font-weight: bolder;
}
main .background-video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
main .centrado {
  display: block;
  text-align: center;
  font-weight: bolder;
  margin: 0rem auto;
  padding: 1rem;
}
main .ceroCincoPadding {
  padding: 2rem 0rem;
}
main .ceroCincoPadding .cajaIndex {
  display: block;
  width: 90%;
  height: auto;
  padding: 2rem;
  border: 0.7rem #9CB4CC solid;
  text-align: justify;
  overflow: hidden;
  margin: 0rem auto;
}
main .ceroCincoPadding .cajaIndex p {
  line-height: 1.5; /*separa los renglones de un parrafo para que se mas visible*/
  font-family: "Raleway", sans-serif;
}
main .ceroCincoPadding .cajaIndex .img-center {
  display: block;
  text-align: center;
  width: 100%;
  height: auto;
}
main .galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  padding: 2rem;
  text-align: justify;
}
main .galeria img {
  padding: 1rem;
}
main .productos {
  display: grid;
  border: 0.7rem #9CB4CC solid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 2.5rem 3rem 0rem 3rem;
}
main .productos .card {
  border: #9CB4CC solid;
  border-width: 0.5rem;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  color: #5D534A;
  margin: 2rem auto;
}
main .productos .card .btn-cyc {
  background-color: #9CB4CC;
}
main .formulario {
  display: grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  padding: 2rem;
  text-align: justify;
  border-color: #9CB4CC solid;
}

footer {
  align-items: center;
  width: 100%;
  background-color: #748DA6;
}
footer h5 {
  font-family: "Courgette", cursive;
  padding: 1rem;
  color: #f7dad9;
  text-align: start;
  margin: 0rem !important;
}
footer h5 .sinMargin {
  margin: 0rem;
  padding: 0.5rem;
  box-sizing: border-box;
}